#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  transition: transform 1s;
}
#game .background-green {
  background-color: green;
}
#game .background-orange {
  background-color: orange;
}
#game .background-purple {
  background-color: purple;
}
#game .background-red {
  background-color: red;
}
#game .background-blue {
  background-color: blue;
}
#game .background-cyan{
  background-color: cyan;
}
#game .flipper {
  transform: rotateY(180deg);
}
.glassscreen {
  content: '';
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:999;
    background: transparent;
}
#section {
  display: flex;
  align-items: center;
}
#countersection {
  padding: 1rem;
  display: flex;
  align-items: center;
}
#scoresection {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.noclicks {
  position: relative;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:-10;
  background: transparent;}

