<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="http://localhost:5000/static/style.css">
</head>
<body>
    <nav>
        <a href="/"><button class="nav-btn" type="button">Users.App</button></a>
        <a href="/"><button class="nav-btn" type="button">Home</button></a>
        <a href="/users"><button class="nav-btn" type="button">Users</button></a>
        <a href="/posts"><button class="nav-btn" type="button">Posts</button></a>
        <a href="/tags"><button class="nav-btn" type="button">Tags</button></a>


    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block main %}
    {% endblock %}
</body>
</html>