<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/style.css" />
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<nav>
			<div>
				<a href="/"><button>Home</button></a>
			</div>
			{% if 'username' in session %}
			<div>
				<a href="/secret"><button>Secret</button></a>
			</div>
			<div>
				<a href="/users/{{session['username']}}"
					><button>Profile</button></a
				>
			</div>
			<div>
				<a href="/users/{{session['username']}}/feedback/add"
					><button>Add Feedback</button></a
				>
			</div>
			<div>
				<form action="/logout" method="POST">
					<button>logout</button>
				</form>
			</div>
			{% else %}
			<div>
				<a href="/login"><button>Login</button></a>
			</div>
			<div>
				<a href="/register"><button>Register</button></a>
			</div>
			{% endif %}
		</nav>
		{% with messages = get_flashed_messages() %} {% if messages %}
		<ul class="flashes">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %} {% endwith %} {% block main %}{% endblock %}
	</body>
</html>
